.git
.github
.venv
**/__pycache__
*.pyc
*.pyo
*.log

addons
ask_data
build
secrets
tests
tmp

assets/screenshots

*.md
CODE_OF_CONDUCT.md
COMPATIBILITY.md
CONTRIBUTING.md
DISCLAIMER.md
LICENSE
LIMITATIONS.md
SETUP_MANUAL.md
VERSION
docker-compose.yml
repository.yaml
